<!-- header navbar -->
<header class="flex items-center justify-between py-4 md:mb-12 xl:mb-16">
  <!-- logo - start -->
  <a
    href="/"
    class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl"
    aria-label="logo"
  >
    <img
      class="h-16 w-16 rounded-lg"
      src="https://avatars.githubusercontent.com/u/175485634?s=200&v=4"
      alt=""
    />
    Nepal Prices
  </a>
  <!-- logo - end -->

  <!-- nav - start -->
  <nav class="hidden gap-12 lg:flex">
    <a
      href="/fuel-prices.html"
      class="text-lg font-semibold text-gray-600 hover:text-indigo-500 active:text-indigo-700"
      >Fuel</a
    >
    <a
      href="/bike-prices.html"
      class="text-lg font-semibold text-gray-600 hover:text-indigo-500 active:text-indigo-700"
      >Bikes</a
    >
    <a
      href="/car-prices.html"
      class="text-lg font-semibold text-gray-600 hover:text-indigo-500 active:text-indigo-700"
      >Car</a
    >
    <a
      href="/vegetable-prices.html"
      class="text-lg font-semibold text-gray-600 hover:text-indigo-500 active:text-indigo-700"
      >Vegetable</a
    >
    <a
      href="/gold-prices.html"
      class="text-lg font-semibold text-gray-600 hover:text-indigo-500 active:text-indigo-700"
      >Gold</a
    >
  </nav>
  <!-- nav - end -->

  <!-- buttons - start -->
  <a
    href="https://play.google.com/store/apps/details?id=com.pricesnepalorg.pricesnepal&pcampaignid=web_share"
    class="hidden rounded-lg bg-purple-300 px-8 py-3 text-center text-sm font-semibold text-gray-900 outline-none ring-indigo-300 transition duration-100 hover:bg-purple-500 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block"
    >Download App</a
  >

  <button
    type="button"
    class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      />
    </svg>
    Menu
  </button>
  <!-- buttons - end -->
</header>
